.monthCell {
    width: 50%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 100%;
    line-height: 50px;
    font-size: large;
    outline: none;
    border: none;
}

.monthHeader {
    font-size: large;
    text-align: center;
    width: 25%;
}